

.I{
    background-color: indigo;
   
      height: 70px;
      text-align: center;
      font-family: cursive;
}

.B{
    background-color: blue;
   
    
      height: 70px;
      text-align: center;
      font-family: cursive;
}

.G{
    background-color: green;
   
  
      height: 70px;
      text-align: center;
      font-family: cursive;
}

.Y{
    background-color: yellow;
   
   
      height: 70px;
      text-align: center;
      font-family: cursive;
}

.O{
    background-color: orange;
   
 
      height: 70px;
      text-align: center;
      font-family: cursive;
}

.R{
    background-color: red;
   
      height: 70px;
      text-align: center;
      font-family: cursive;
}


.P{
    background-color:rgb(248, 7, 228);
  
      height: 70px;
      text-align: center; 
      font-family: cursive;
}

.LG{
  background-color:lightgreen;
 
    height: 70px;
    text-align: center; 
    font-family: cursive;
}

.LB{
  background-color:lightskyblue;
 
    height: 70px;
    text-align: center; 
    font-family: cursive;
}

.V1{
  background-color:saddlebrown;
 
    height: 70px;
    text-align: center; 
    font-family: cursive;
}

.A{
  background-color:rgb(244, 244, 68);
 
    height: 70px;
    text-align: center; 
    font-family: cursive;
}

.C{
  background-color:rgb(46, 239, 162);
 
    height: 70px;
    text-align: center; 
    font-family: cursive;
}

.D{
  background-color:rgb(6, 78, 93);
 
    height: 70px;
    text-align: center; 
    font-family: cursive;
}


.F{
  background-color:rgb(26, 9, 100);
 
    height: 70px;
    text-align: center; 
    font-family: cursive;
}


.L{
  background-color:rgb(176, 63, 233);
 
    height: 70px;
    text-align: center; 
    font-family: cursive;
}


.J{
  background-color:rgb(238, 162, 162);
 
    height: 70px;
    text-align: center; 
    font-family: cursive;
}
